In [2]:
# import warnings
# warnings.filterwarnings("ignore")

import pandas as pd

import mfnn

#### Data import

In [3]:
df_ratings_in = pd.read_csv('data/ratings.csv')
df_ratings_in.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
item_mapping = pd.read_csv('data/movies.csv')
item_mapping = item_mapping[['movieId', 'title']]
item_mapping = dict(item_mapping.values)

#### Model

In [4]:
rec = mfnn.MFNNRecommender(
    data=df_ratings_in,
    user_field='userId',
    item_field='movieId',
    rating_field='rating',
)

In [10]:
rec.fit(dim=20, epochs=200)

In [11]:
rec.recommend(1, 10)

[130980, 5560, 63179, 4771, 81156, 107978, 82461, 96020, 4658, 86852]

In [12]:
rec.save('200epochs')

In [5]:
rec_new = mfnn.MFNNRecommender(onload=True)

In [10]:
rec_new.load('200epochs')

In [12]:
rec_new.recommend(1, 10, item_mapping)

['The Day That Lasted 21 Years (2012)',
 'À nous la liberté (Freedom for Us) (1931)',
 'Tokyo! (2008)',
 'Hardball (2001)',
 'Jackass 3D (2010)',
 'Like Father, Like Son (Soshite chichi ni naru) (2013)',
 'Tron: Legacy (2010)',
 'Sidewalls (Medianeras) (2011)',
 'Santa Sangre (1989)',
 'Beaver, The (2011)']